// Colors
// 
// Colors. Hierarchy TBD. This was created with demo purposes in mind only; I'd
// hate to see these turn up in the repo.
//
// .bgcolor--white - White.
// .bgcolor--dark - Dark.
// .bgcolor--anakiwa - Cyan.
// .bgcolor--deep-cerulean - Dark Aqua?
// .bgcolor--green - Green.
// 
// Markup: 
// <div class="color-demo {{modifier_class}}"></div>
// 
// Style guide: Basics.Colors
.color-demo {
    width: 100%;
    height: 100px;
    border: 1px solid $color-botticelli;
    background-color: $color-white;
}

.bgcolor {
    &--white {
        background-color: $color-white;
    }
    &--dark {
        background-color: $color-thunder;
    }
    &--anakiwa {
        background-color: $color-anakiwa;
    }
    &--deep-cerulean {
        background-color: $color-deep-cerulean;
    }
    &--green {
        background-color: $color-de-york;
    }
}
