// Button
// 
// Various button styles. Named by color for now, though I'd imagine at some point
// I'll settle into a hierarchy and organize these better. These rely on pseudoclasses,
// so `<input type="button">` is not available as a choice.
// 
// .button:hover    - Not-so-subtle hovering.
// .button:active   - Not-so-subtle clicking.
// .button--white   - White button.
// .button--dark    - Dark button.
// .button--anakiwa - Cyan button.
// .button--deep-cerulean   - Dark aqua-ish button.
// .button--green   - Green button.
// .button--small   - Small button. Can be appended to any of the button classes.
// 
// Markup: 
// <a href="#" class="button {{modifier_class}}">Link Button</a>
// <button class="button {{modifier_class}}">Button Element</button>
// 
// Style guide: Components.Button

@mixin buttonStyling(
    $background-color, 
    $color, 
    $border-color: lighten($background-color, 20%),
    $wall-color: darken($background-color, 20%)
    ) {
    background-color: $background-color;
    color: $color;

    box-shadow: 0 6px 5px 1px rgba(0, 0, 0, 0.2), 
    inset 0 0px 0 0 $border-color;

    &:hover {
        box-shadow: 0 6px 5px 1px rgba(0, 0, 0, 0.2),
        inset 0 0 0 5px $border-color;
    }
    &:active {
        box-shadow: 0 6px 5px 1px rgba(0, 0, 0, 0.2),
        inset 0 0 0 100px $border-color;
    }

    &:after {
        background: none;
        background-color: $wall-color;
        
        // background: linear-gradient(
        //     to bottom,
        //     $background-color 0%,
        //     darken($background-color, 20%) 100%
        // );
    }
}

.button {
    display: inline-block;
    position: relative;
    padding: 10px 30px 5px;
    transform: translateY(0);    
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s, box-shadow 0.2s;
    // border: 1px solid transparent;
    border: 0;
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    box-sizing: padding-box;
    appearance: none;

    &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 5px;
        transform: scale(1,1);
        transform-origin: center top;
        transition: transform 0.2s;
        content: '';
    }

    &:hover {
        transform: translateY(-5px);    

        &:after {
            transform: scale(1,2);
        }
    }

    &:active {
        transform: translateY(4px);    
        transition: background-color 0.2s, border-color 0.2s, color 0.2s, transform 0s;

        &:after {
            transform: scale(1,0.4);
            transition: transform 0s;
        }
    }
    @include buttonStyling($color-white, $color-thunder, darken($color-white, 5%));

    &--anakiwa {
        @include buttonStyling($color-anakiwa, $color-thunder, lighten($color-anakiwa, 10%), $color-deep-cerulean);
    }

    &--dark {
        @include buttonStyling($color-thunder, $color-white);
    }

    &--deep-cerulean {
        @include buttonStyling($color-deep-cerulean, $color-white, lighten($color-deep-cerulean, 10%), darken($color-deep-cerulean, 10%));
    }

    &--green {
        @include buttonStyling($color-de-york, $color-white);
    }

    &--white {
        @include buttonStyling($color-white, $color-thunder, $color-anakiwa, $color-thunder);
    }

    &--small {
        font-size: 0.8em;
    }
}
