<!-- leaving this in as a sample, but for the button component I currently have the markup in the Sass file directly. -->

<a href="#" class="button {{modifier_class}}">Link Button</a>
<button class="button {{modifier_class}}">Button Element</button>
